.header {
  background-color: rgb(208, 241, 241);

  &__logo {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }
}
