$transition: .2s ease-in-out;
$box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.20);

@mixin flex {
  display: flex;
  flex-flow: row wrap;
}

.albums {
  @include flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 100%;

  &__single {
    width: 49%;

    @media all and (max-width: 991px) {
      width: 100%;
    }
  }

  &__title {
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 20px;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }

  &__item {
    margin: 15px 0;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;
    background-color: #ffffff;

    &:hover {
      transform: scale(1.02);
      box-shadow: $box-shadow;
    }
  }

  &__img {
    width: 10%;

    img {
      width: 100%;
      transition: $transition;

      &:hover {
        transform: scale(2.5);
        box-shadow: $box-shadow;
      }
    }
  }

  &__imgs {
    @include flex;
  }
}
