<template>
          <!-- eslint-disable vue/no-use-v-if-with-v-for -->
  <section class="albums">
    <article
      v-for="album in albumsList"
      :key="album.id"
      ref="myAlbum"
      class="albums__single"
    >
      <div class="albums__item">
        <h3 class="albums__title">{{ album.title }}</h3>
        <!-- <h3>{{ album.id}}</h3> -->
        <div class="albums__imgs">
          <div
            v-for="photo in photos"
            :key="photo.id"
            class="albums__img"
            v-if="photo.albumId === album.id"
          >
            <img
              :src="photo.thumbnailUrl"
              :alt="photo.title"
              v-b-tooltip.hover
              :title="`TITLE: ${photo.title}`"
            >
            <!-- <span>{{ photo.albumId  }}</span> -->
          </div>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';
// Export
export default {
  name: 'module-albums',

  // Props
  props: {
    albumsList: Array,
    album: Object,
  },

  // Data
  data() {
    return {
      photos: [],
    };
  },


  // Methods
  methods: {
    ...mapActions([
      'getPhotos',
    ]),

    photosCall() {
      this.getPhotos()
        .then((res) => {
          const list = res.data;
          this.photos = list;
        });
    },
  },

  // Lifecycle
  async mounted() {
    await this.photosCall();
  },
};
</script>
