<template>
  <b-form-select
    v-model="selected"
    @change="onChange($event)"
  >
    <option value="" disabled selected>Please Select A User Name</option>
    <option
      v-for="user in users"
      :key="user.id"
      :value="user.id"
    >
      {{ user.name }}
    </option>
  </b-form-select>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';

// Export
export default {
  name: 'module-select',

  // Data
  data() {
    return {
      selected: '',
      users: [],
    };
  },

  // Methods
  methods: {
    ...mapActions([
      'getUsers',
    ]),
    usersCall() {
      this.getUsers()
        .then((res) => {
          this.users = res.data;
        });
    },
    onChange(v) {
      this.$emit('selected', v);
      // console.log(v);
    },
  },

  // Lifecycle
  async mounted() {
    await this.usersCall();
  },
};
</script>
