<template>
  <main class="home">
    <section class="group">

      <module-select
        @selected="showSelect($event)"
      />

      <module-albums
        :albums-list="albums"
      />

    </section>
  </main>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';
// Modules
import ModuleSelect from '@/components/modules/Select.vue';
import ModuleAlbums from '@/components/modules/Albums.vue';
// Export
export default {
  name: 'page-home',

  // Components
  components: {
    ModuleSelect,
    ModuleAlbums,
  },

  // Data
  data() {
    return {
      albums: [],
      // Dropdown Input State
      select: '',
    };
  },

  methods: {
    ...mapActions([
      'getAlbums',
    ]),

    albumsCall(id) {
      this.getAlbums()
        .then((res) => {
          const list = res.data;
          this.albums = list.filter(album => album.userId === id);
        });
    },

    showSelect(v) {
      this.select = v;
      this.albumsCall(this.select);
    },
  },

  // Lifecycle
  async mounted() {
    await this.albumsCall();
  },
};
</script>

