<template>
  <div id="app">
    <ui-header />
  </div>
</template>

<script>
// Ui
import UiHeader from '@/components/ui/Header.vue';
// Export
export default {
  name: 'app',
  // Components
  components: {
    UiHeader,
  },
};
</script>

