<template>
  <nav class="header">

    <div class="header__logo">
      <img :src="logo" alt="logo" class="header__img" />
    </div>

    <router-view/>

  </nav>
</template>

<script>
// Assets
import Logo from '@/assets/logo.png'
// Export
export default {
  name: 'ui-header',
  // Data
  data() {
    return {
      logo: Logo,
    };
  },
};
</script>
